# Dependencies
# Docker will install these during the build; do not push them.
node_modules/
jspm_packages/

# Documentation and Temporary Files
# These are not needed for the live application.
Pipeline-Guide.docx
~$*.docx
*.tmp
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
# Never push secrets to GitHub!
.env